numpy
librosa
scipy
matplotlib
flask
sounddevice
soundfile
flask-cors
opencv-python
python-geohash
scikit-learn
pillow
pika
protobuf
gpsdclient
requests
psutil
pytest
websocket-client
pydantic
pyjwt
pytz
aiohttp
pyyaml
markdown
torch
bs4
beautifulsoup4
aiofiles
certifi
yarl
elasticsearch
typer
pyzmq
imagezmq
scapy
pyrtlsdr
pyusb
pyserial
jinja2